# Dependencies from all folders
/backend/node_modules
/my-app/node_modules

# Production build folder from React
/my-app/build

# Environment variable files (NEVER upload these)
.env
/backend/.env

# Miscellaneous system & log files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*